@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
body {
    margin: 0;
    padding: 0;
}

p {
    font-size: 20px;
    line-height: 28px;
    font-family: Arial, Helvetica, sans-serif;
}

.flexible-container {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 150px;
    padding-top: 50px;
}

.half-width img {
    width: 80%;
    padding-top: 5%;
}

.heading-one {
    border-left: 4px solid red;
    font-size: 70px;
    padding-left: 10px;
    line-height: 70px;
    font-family: 'Zilla Slab', serif;
}

.heading-one-mission {
    display: block;
    color: rgb(28, 124, 100);
}

.link-button {
    text-decoration: none;
    color: white;
    background: linear-gradient(rgba(44, 32, 66, 0.76), rgba(218, 117, 50, 0.651));
    padding: 12px 25px;
    border-radius: 5px;
    line-height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.my-focused {
    width: 30%;
    padding: 2% 2% 0%;
}

.my-focused-heading {
    text-align: center;
    font-size: 40px;
    margin-top: 100px;
    margin-bottom: 50px;
    font-family: 'Secular One', sans-serif;
    font-weight: 600;
}

.my-focused img {
    width: 35%;
}

.my-focused h2 {
    font-family: 'Secular One', sans-serif;
    font-weight: 500;
}

.my-focused p {
    font-size: 17px;
}

.mission {
    background-color: #c3cea6;
    border-radius: 20px;
    margin-right: 2%;
    margin-left: 10%;
}

.vission {
    background-color: #9bc8c2;
    border-radius: 20px;
}

.goals {
    background-color: #cca7d3;
    border-radius: 20px;
    margin-right: 10%;
    margin-left: 2%;
}

.develop-bg {
    background-image: url("images/shapes/shape-1.png");
    background-repeat: no-repeat;
    background-position: 4%;
    background-size: 260px 220px;
}

.project-img {
    width: 40%;
    padding-left: 6%;
    margin-top: 60px;
}

.project-content {
    width: 60%;
    padding: 10% 5% 0 0;
}

.project-img img {
    width: 80%;
    padding: 10%;
}

.project-content h1 {
    font-size: 35px;
    line-height: 15px;
    font-family: 'Secular One', sans-serif;
    font-weight: 600;
}

.project-content p {
    padding-right: 80px;
}

.community-bg {
    background-image: url("images/shapes/shape-1.png");
    background-repeat: no-repeat;
    background-position: 95% 100%;
    background-size: 200px 180px;
}

.community-content {
    padding: 8% 0 0 9%;
}

.community-img {
    padding-right: 8%;
}

.contact-area {
    padding: 50px 80px 50px 30px;
    background-color: rgb(251, 246, 253);
    margin-top: 50px;
}

.contact-heading {
    text-align: center;
    font-size: 40px;
    line-height: 5px;
    font-family: 'Secular One', sans-serif;
    font-weight: 600;
}

.contact-para {
    text-align: center;
    font-size: 15px;
}

.contact-content h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.contact-content h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.item ul {
    list-style-type: none;
    padding: 0 10px;
}

.input {
    padding: 10px 10px;
    border-radius: 5px;
    border: 1px solid;
}

.textarea {
    border-radius: 5px;
}

.footer {
    background-color: #0B0D17;
    padding: 15px 0;
}

.footer h1 {
    text-align: center;
    color: white;
    font-family: 'Playball', cursive;
    font-size: 35px;
    line-height: 25px;
}

.footer p {
    text-align: center;
    color: rgb(134, 132, 132);
    font-family: sans-serif;
    font-size: 15px;
}