body {
    margin: 20px 0;
    padding: 0;
}

.flexible-container {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 150px;
    padding-top: 50px;
}

.half-width img {
    width: 60%;
}

.half-width h1 {}

.heading-one {
    border-left: 4px solid red;
    padding-left: 10px;
    font-size: 35px;
    line-height: 25px;
}

.half-width p {
    font-size: 20px;
    line-height: 28px;
}

.link-button {
    text-decoration: none;
    color: white;
    background: linear-gradient(teal, tomato);
    padding: 12px 25px;
    border-radius: 5px;
    line-height: 40px;
}

.my-focused {
    width: 30%;
    padding: 3% 2%;
}

.my-focused-heading {
    text-align: center;
    font-size: 40px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.my-focused img {
    width: 35%;
}

.my-focused p {
    font-size: 20px;
    line-height: 28px;
}

.mission {
    background-color: #EDF5F6;
    border-radius: 20px;
    margin-right: 2%;
    margin-left: 10%;
}

.vission {
    background-color: #FFEEEE;
    border-radius: 20px;
}

.goals {
    background-color: #FFF4D6;
    border-radius: 20px;
    margin-right: 10%;
    margin-left: 2%;
}

.develop-bg {
    background-image: url("images/shapes/shape-1.png");
    background-repeat: no-repeat;
    background-position: 3%;
    background-size: 260px 220px;
}

.project-img {
    width: 40%;
    padding-left: 5%;
    margin-top: 60px;
}

.project-content {
    width: 60%;
    padding: 10% 5% 0 0;
}

.project-img img {
    width: 80%;
    padding: 10%;
}

.project-content h1 {
    font-size: 35px;
    line-height: 15px;
}

.project-content p {
    font-size: 20px;
    line-height: 28px;
    padding-right: 80px;
}

.community-bg {
    background-image: url("images/shapes/shape-1.png");
    background-repeat: no-repeat;
    background-position: 95% 100%;
    background-size: 200px 180px;
}

.community-content {
    padding: 10% 0 0 8%;
}

.community-img {
    padding-right: 8%;
}